In [1]:
import pandas as pd

df = pd.DataFrame([
    ['green', 'M', 10.1, 'class2'],
    ['red', 'L', 13.5, 'class1'],
    ['blue', 'XL', 15.3, 'class2'],
])

df.columns = ['color', 'size', 'price', 'classlabel']
df

   color size  price classlabel
0  green    M   10.1     class2
1    red    L   13.5     class1
2   blue   XL   15.3     class2

In [2]:
size_mapping = { 'XL' : 3, 'L': 2, 'M': 1 }

df['size'] = df['size'].map(size_mapping)
df

   color  size  price classlabel
0  green     1   10.1     class2
1    red     2   13.5     class1
2   blue     3   15.3     class2

In [3]:
import numpy as np
class_mapping = {
    lable:idx for idx, lable in enumerate(df['classlabel'].unique())
}

class_mapping

{'class2': 0, 'class1': 1}