In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import datasets

In [2]:
raw_iris = datasets.load_iris()

In [3]:
x_iris = pd.DataFrame(raw_iris.data)

In [4]:
y_iris = pd.DataFrame(raw_iris.target)

In [5]:
df_iris = pd.concat([x_iris, y_iris], axis = 1)

In [6]:
feature_iris = raw_iris.feature_names

In [7]:
print(feature_iris)

['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']

In [8]:
col_iris=np.append(feature_iris, ['target'])

In [9]:
print(col_iris)

['sepal length (cm)' 'sepal width (cm)' 'petal length (cm)'
 'petal width (cm)' 'target']

In [10]:
df_iris.columns = col_iris

In [11]:
df_iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0